@model IEnumerable<MVC.ViewModels.VMVideo>

@{
    ViewData["Title"] = "Video";
}

<h1>Video</h1>

<p>
    <button class="btn btn-primary btn-create" onclick="location.href='@Url.Action("Create")'">Create New Video</button>
</p>


<!-- Forma za filtriranje -->
<form id="search-form" method="get">
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" name="videoName" placeholder="Video Name" value="@ViewBag.VideoName">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="genreName" placeholder="Genre Name" value="@ViewBag.GenreName">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                 @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreamingUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreamingUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageContent)
            </td>
            <td style="white-space: nowrap">
              
                <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Edit", new {id=item.Id})'">Edit</button>
                <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Details", new {id=item.Id})'">Details</button>
                <button class="btn btn-danger " onclick="location.href='@Url.Action("Delete",  new {id=item.Id})'">Delete</button>
      
            </td>
        </tr>
}
    </tbody>
</table>
