@model MVC_PublicModule.ViewModels.VMUser

@{
    ViewData["Title"] = "Details";
}


        <div class="row justify-content-center">
            <h1>My Page</h1>

            <div>
                <h1>User - @Model.FirstName @Model.LastName</h1>

                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsConfirmed)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsConfirmed)
                    </dd>

                    <dt class="col-sm-2">
                        Country
                    </dt>
                    <dd class="col-sm-10">
                        @ViewBag.CountryName
                    </dd>
                </dl>
            </div>
            <div>

                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="ChangePassword">Change password</a>
                <a class="btn btn-secondary" asp-area="" asp-controller="Video" asp-action="Video">Back</a>
            </div>
        

 </div>

