@model IEnumerable<MVC.ViewModels.VMCountry>

<h1>Country</h1>

<div class="row">
    @foreach (var country in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-dark">@country.Name</h5>
                    <p class="card-text text-dark">@country.Code</p>
                    <div class="button-container">
                        <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Edit", new {id=country.Id})'">Edit</button>
                        <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Details", new {id=country.Id})'">Details</button>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete", new {id=country.Id})'">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="pagination-container">
    @if (ViewBag.TotalPages > 1)
    {
        <div class="page-link-container">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <a href="@Url.Action("Country", new { page = i })" class="page-link @(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
            }
        </div>
    }
</div>



