

@model IEnumerable<MVC.ViewModels.VMCountry>

@{
    ViewData["Title"] = "Country";
}

<h1>Country</h1>

<p>
    <button class="btn btn-primary btn-create" onclick="location.href='@Url.Action("Create")'">Create New Country</button>
</p>

@{
    int numRows = 4;
    int cardsPerRow = (int)Math.Ceiling((double)Model.Count() / numRows);
}

@for (var i = 0; i < numRows; i++)
{
    <div class="row p-4 justify-content-around">
        @foreach (var item in Model.Skip(i * cardsPerRow).Take(cardsPerRow))
        {
            <div class="card col-4 services-card">
                <div class="card-body">
                     <h5 class="card-title text-dark">@item.Name</h5>
                     <p class="card-text text-dark">@item.Code</p>
                   <div style="white-space: nowrap">
                <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Edit", new {id=item.Id})'">Edit</button>
                <button class="btn btn-primary mr-2" onclick="location.href='@Url.Action("Details", new {id=item.Id})'">Details</button>
                <button class="btn btn-danger mr-2" onclick="location.href='@Url.Action("Delete",  new {id=item.Id})'">Delete</button>
            </div>
                </div>
            </div>
        }

    </div>
}
