@model IEnumerable<MVC_PublicModule.ViewModels.VMVideo>

@{
    ViewData["Title"] = "Video";

}

<section>
    <header>
        <h2 class="text-white">Our Videos</h2>
    </header>

    <form id="search-form" method="get">
        <div class="form-row">
            <div class="col">
                @{
                    string videoName = (string)ViewData["VideoName"] ?? ViewContext.HttpContext.Request.Cookies["VideoName"];
                }
                <input type="text" class="form-control" name="videoName" placeholder="Video Name" value="@videoName">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary btn-create">Search</button>
            </div>
        </div>
    </form>

    <div id="video-container" class="container">
        @Html.Partial("VideoTableBodyPartial", Model)
    </div>

   <nav>
    <ul class="pagination justify-content-center">
        @{
            int currentPage = (int)ViewData["page"];
            int totalPages = (int)ViewData["totalPages"];
            var size = (int)ViewData["size"];
            var orderBy = (string)ViewData["orderBy"];
            var direction = (string)ViewData["direction"];
        }

        @if (currentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/Video/Video?page=@(currentPage - 1)&size=@size&orderBy=@orderBy&direction=@direction">Previous</a>
            </li>
        }

        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="/Video/Video?page=@i&size=@size&orderBy=@orderBy&direction=@direction">@i</a>
            </li>
        }

        @if (currentPage < totalPages)
        {
            <li class="page-item">
                <a class="page-link" href="/Video/Video?page=@(currentPage + 1)&size=@size&orderBy=@orderBy&direction=@direction">Next</a>
            </li>
        }
    </ul>
</nav>

@if (totalPages > 1)
{
    <p>Page @currentPage of @totalPages</p>
}
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#search-form").submit(function (event) {
                event.preventDefault();

                var videoName = $("input[name=videoName]").val();
                var orderBy = "@ViewData["orderBy"]";
                var direction = "@ViewData["direction"]";

                loadVideos(videoName, orderBy, direction);
            });
        });

        function loadVideos(videoName, orderBy, direction) {
            $.ajax({
                type: "GET",
                url: "/Video/VideoTableBodyPartial",
                data: { videoName: videoName, orderBy: orderBy, direction: direction },
                success: function (data) {
                    $("#video-container").html(data);
                },
                error: function (data) {
                    console.error("Ajax GET error", data);
                }
            });
        }
    </script>
}
